{%extends "base.html"%}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="container">
    <div class="row" style="padding-top: 2%;">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist" style="font-size: 10pt;">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">
                    By Programs
                    <span class="badge badge-primary badge-pill" style="float: right">{{count}}</span>
                </a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                    href="#list-messages" role="tab" aria-controls="messages">
                    By Input
                    <span class="badge badge-primary badge-pill" style="float: right">2</span>
                </a>
                <a class="list-group-item list-group-item-action" id="list-output-list" data-toggle="list"
                    href="#list-output" role="tab" aria-controls="output">
                    By Output
                    <span class="badge badge-primary badge-pill" style="float: right">2</span>
                </a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="list-output" role="tabpanel" aria-labelledby="list-output-list">
                    <strong>Information about derivations output-Based:</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum, mi quis ornare pretium, 
                        lacus felis faucibus tortor, pellentesque dictum sem odio id neque. Suspendisse gravida orci et orci 
                        ornare, ac facilisis est ultrices. In congue lorem ligula, nec cursus nisi hendrerit in. 
                        Cras sit amet erat ante.</p>
                </div>

                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <strong>Informations about derivations Programs-Based:</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum, mi quis ornare pretium,
                        lacus felis faucibus tortor, pellentesque dictum sem odio id neque. Suspendisse gravida orci et
                        orci
                        ornare, ac facilisis est ultrices. In congue lorem ligula, nec cursus nisi hendrerit in.
                        Cras sit amet erat ante.</p>
                    <table class="table table-hover" style="font-size: 8pt;">
                        <thead>
                            <tr>
                                <th scope="col">Derivation</th>
                                {%for item in objectList%}
                                <th scope="col">{{item.getName()}} <br> ({{item.getActivityType()}})</th>
                                {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in derivations%}
                            <tr>
                                {%for i in item%}
                                <td>
                                    {{i}}<br>
                                </td>
                                {%endfor%}
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <strong>Information about derivations Attributes-Based:</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum, mi quis ornare pretium,
                        lacus felis faucibus tortor, pellentesque dictum sem odio id neque. Suspendisse gravida orci et
                        orci
                        ornare, ac facilisis est ultrices. In congue lorem ligula, nec cursus nisi hendrerit in.
                        Cras sit amet erat ante.</p>

                    <div class="card" style="margin-bottom:1%;">
                        <div class="card-header">
                            <strong>{{objectList[0].getName()}}</strong><br>
                        </div>
                        <div class="card-body">
                            {%for at0 in attributesByAct[0]%}
                            {%for item0 in at0.composedBy%}
                            <div class="form-check form-check-inline">
                                <span class="badge badge-secondary">
                                <input class="form-check-input" type="checkbox" id={{item0}} value={{item0}}>
                                <label class="form-check-label" for={{item0}}>
                                    {{item0}}
                                </label>
                                </spam>
                            </div>
                            <br>
                            {%endfor%}
                            {%endfor%}

                            
                        </div>
                    </div>

                    <div class="card" style="margin-bottom:1%;">
                        <div class="card-header">
                            <strong>{{objectList[1].getName()}}</strong><br>
                        </div>
                        <div class="card-body">
                            {%for at0 in attributesByAct[1]%}
                            {%for item0 in at0.composedBy%}
                            <div class="form-check form-check-inline">
                                <span class="badge badge-info">
                                    <input class="form-check-input" type="checkbox" id="{{item0}}" value="{{item0}}">
                                    <label class="form-check-label" for="{{item0}}">
                                        {{item0}}
                                    </label>
                                </span>
                            </div>
                            {%endfor%}
                            {%endfor%}
                        </div>
                    </div>

                    <div class="card" style="margin-bottom:1%;">
                        <div class="card-header">
                            <strong>{{objectList[2].getName()}}</strong><br>
                        </div>
                        <div class="card-body">
                            {%for at0 in attributesByAct[2]%}
                            {%for item0 in at0.composedBy%}
                            
                            <div class="form-check form-check-inline">
                                <span class="badge badge-light">
                                    <input class="form-check-input" type="checkbox" id="{{item0}}" value="{{item0}}">
                                    <label class="form-check-label" for="{{item0}}">
                                        {{item0}}
                                    </label>
                                </span>
                            </div>
                            {%endfor%}
                            {%endfor%}
                        </div>
                    </div>

                    <div class="card" style="margin-bottom:1%;">
                        <div class="card-header">
                            <strong>{{objectList[3].getName()}}</strong><br>
                        </div>
                        <div class="card-body">
                            {%for at0 in attributesByAct[3]%}
                            {%for item0 in at0.composedBy%}
                            <div class="form-check form-check-inline">
                                <span class="badge badge-primary" style="background-color: #17b785;">
                                    <input class="form-check-input" type="checkbox" id="{{item0}}" value="{{item0}}">
                                    <label class="form-check-label" for="{{item0}}">
                                        {{item0}}
                                    </label>
                                </span>
                            </div>
                            {%endfor%}
                            {%endfor%}
                        </div>
                    </div>

                    <div class="card" style="margin-bottom:1%;">
                        <div class="card-header">
                            <strong>{{objectList[4].getName()}}</strong><br>
                        </div>
                        <div class="card-body">
                            {%for at0 in attributesByAct[4]%}
                            {%for item0 in at0.composedBy%}
                            {{item0}}<br>
                            {%endfor%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{%endblock%}