{%extends "base.html"%}
{%block title%}Home Page{%endblock%}
{%block content%}
<br>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum eget nisl aliquam imperdiet. 
Cras sed massa sed risus feugiat commodo. Nulla facilisi. Aenean efficitur at ipsum ut fermentum. Orci 
varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas euismod 
elementum elit, laoreet elementum tortor sagittis nec. Cras hendrerit turpis a bibendum pretium. 
Nullam nisi tellus, mattis at ante sed, sodales mattis est. Sed ante libero, sollicitudin sed sapien at, 
congue vestibulum magna. Aenean scelerisque gravida metus, eu vehicula augue pretium eu.
</p>
<p>Mauris erat purus, lacinia vitae laoreet et, vehicula sit amet velit. Nullam non lacus velit. 
In bibendum ante nec odio commodo pellentesque. Morbi euismod pretium commodo. Ut tincidunt nisi 
non libero suscipit sollicitudin. Etiam euismod ante libero, ac interdum velit placerat non. 
Mauris volutpat diam a rutrum hendrerit. Aenean egestas tortor feugiat felis maximus laoreet. 
Vivamus tempus quam diam, eu dictum eros viverra a. Phasellus ac pharetra enim.</p>
<p>
Mauris erat purus, lacinia vitae laoreet et, vehicula sit amet velit. Nullam non lacus velit. 
In bibendum ante nec odio commodo pellentesque. Morbi euismod pretium commodo. Ut tincidunt nisi 
non libero suscipit sollicitudin. Etiam euismod ante libero, ac interdum velit placerat non. 
Mauris volutpat diam a rutrum hendrerit. Aenean egestas tortor feugiat felis maximus laoreet. 
Vivamus tempus quam diam, eu dictum eros viverra a. Phasellus ac pharetra enim.
</p>
{%endblock%}
