{%extends "base.html"%}
{%block title%}Home Page{%endblock%}
{%block content%}

<br>
  <div class="row">
    <div class="col-md-3">
      {%for i in result[0]%}
      <div class="dropdown show dropright" >
        <a class="btn btn-secondary dropdown-toggle btn-sm btn-info" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 150px; font-size: 10px; margin-bottom: 1px;">
          {{i.getName()}}
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 8pt;  width:300pt;">
          <a class="dropdown-item" href="#" style="white-space: normal;" >Definition: {{i.getComment()}}</a>
          <a class="dropdown-item" href="#" style="white-space: normal;">Is a: 
            <ul>
              {%for x in (i.getIs_a())%}
                <li>{{x}}</li>
              {%endfor%}
            </ul>
          </a>
          <a class="dropdown-item" href="#" style="white-space: normal;">Applicable Properties: 
            <ul>
              {%for x in (i.getSeeAlso())%}
                <li>{{x}}</li>
              {%endfor%}
            </ul>
          </a>
          <a class="dropdown-item" href="#" style="white-space: normal;">SciPhy Instances:
            <ul>
              {%for x in (i.getIndividuals())%}
                <li>{{x}}</li>
              {%endfor%}
            </ul>
          </a>
        </div>
      </div>
    {%endfor%}

    </div>
    <div class="col-md-3">
      {%for i in result[1]%}
      <div class="dropdown show dropright" >
          <a class="btn btn-secondary dropdown-toggle btn-sm btn-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 150px; font-size: 10px; margin-bottom: 1px;">
            {{i.getName()}}
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 8pt;  width:300pt;">
            <a class="dropdown-item" href="#" style="white-space: normal;" >Definition: {{i.getComment()}}</a>
            <a class="dropdown-item" href="#" style="white-space: normal;" >Is a: 
              <ul>
                {%for x in (i.getIs_a())%}
                  <li>{{x}}</li>
                {%endfor%}
              </ul>
            </a>
            <a class="dropdown-item" href="#" style="white-space: normal;">Applicable Properties: 
              <ul>
                {%for x in (i.getSeeAlso())%}
                  <li>{{x}}</li>
                {%endfor%}
              </ul>
            </a>
            <a class="dropdown-item" href="#" style="white-space: normal;" >SciPhy Instances:
              <ul>
                {%for x in (i.getIndividuals())%}
                  <li>{{x}}</li>
                {%endfor%}
              </ul>
            </a>
          </div>
      </div>
      {%endfor%}

    </div>
    <div class="col-md-3">
      {%for i in result[2]%}
        <div class="dropdown show dropright" >
            <a class="btn btn-secondary dropdown-toggle btn-sm btn-dark" href="#info" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 160px; font-size: 10px; margin-bottom: 1px;">
              {{i.getName()}}
            </a>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 8pt;  width:300pt;">
              <a class="dropdown-item" href="#" style="white-space: normal;" >Definition: {{i.getComment()}}</a>
              <a class="dropdown-item" href="#" style="white-space: normal;" >Is a: 
                <ul>
                  {%for x in (i.getIs_a())%}
                    <li>{{x}}</li>
                  {%endfor%}
                </ul>
              </a>
              <a class="dropdown-item" href="#" style="white-space: normal;">Applicable Properties: 
                <ul>
                  {%for x in (i.getSeeAlso())%}
                    <li>{{x}}</li>
                  {%endfor%}
                </ul>
              </a>
              <a class="dropdown-item" href="#" style="white-space: normal;" >SciPhy Instances: 
                <ul>
                {%for x in (i.getIndividuals())%}
                  <li>{{x}}</li>
                {%endfor%}
                </ul>
              </a>
            </div>
        </div>
      {%endfor%}

    </div>
    <div class="col-md-3">
      {%for i in result[3]%}
      <div class="dropdown show dropright" >
          <a class="btn btn-secondary dropdown-toggle btn-sm btn-success" href="#Information" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 120px; font-size: 10px; margin-bottom: 1px;">
            {{i.getName()}}
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 8pt;  width:300pt;">
            <a class="dropdown-item" href="#" style="white-space: normal;" >Definition: {{i.getComment()}}</a>
            <a class="dropdown-item" href="#" style="white-space: normal;" >Is a: 
              <ul>
                {%for x in (i.getIs_a())%}
                  <li>{{x}}</li>
                {%endfor%}
              </ul>
            </a>
            <a class="dropdown-item" href="#" style="white-space: normal;">Applicable Properties: 
              <ul>
                {%for x in (i.getSeeAlso())%}
                  <li>{{x}}</li>
                {%endfor%}
              </ul>
            </a>
            <a class="dropdown-item" href="#" style="white-space: normal;" >SciPhy Instances: {{i.getIndividuals()}}</a>
            
          </div>
      </div>
      {%endfor%}
    </div>    
  </div>
{%endblock%}